<div class="content component polls">
  <div class="container">
    <div class="flex flex-col gap-4">
      <div class="font-medium text-lg sm:text-xl lg:text-3xl xl:text-4xl p-0">
        <a class="text-gray-700" [routerLink]="['/polls', 54]">
          Poll 54
        </a>
      </div>
      <div class="font-medium text-lg sm:text-xl lg:text-3xl xl:text-4xl p-0">
        <a class="text-gray-700" [routerLink]="['/polls', 17]">
          Token Batch 17
        </a>
      </div>
    </div>
  </div>
</div>
