<div class="content component polls">
  <div class="container">
    <div class="flex flex-row justify-between border-b pb-4 mb-4">
      <h1 class="text-xl xl:text-3xl 2xl:text-4xl text-gray-700">
        My Polls
      </h1>
      <a
        [routerLink]="['/', 'polls', 'create']"
        class="button inline-block py-3 px-4 rounded-md shadow bg-gradient-to-r from-teal-500 to-cyan-600 text-white font-medium hover:from-teal-600 hover:to-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-400 focus:ring-offset-gray-900">
        Create Poll
      </a>
    </div>
    <div class="flex flex-col gap-4">
      <div class="font-medium text-lg sm:text-xl lg:text-3xl p-0">
        <a class="text-gray-700 font-thin" [routerLink]="['/polls', 54]">
          Poll 54
        </a>
      </div>
      <div class="font-medium text-lg sm:text-xl lg:text-3xl p-0">
        <a class="text-gray-700 font-thin" [routerLink]="['/polls', 17]">
          Token Batch 17
        </a>
      </div>
    </div>
  </div>
</div>
