<div class="content component poll bg-white border-t">
  <div class="container">
    <div class="flex flex-row justify-between">
      <h1 class="text-2xl xl:text-3xl mb-2 font-semibold text-gray-900">
        Create Poll
      </h1>
    </div>

    <div class="bg-gray-50 shadow-md inset-1 p-8">
        <div>
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                  Poll
                </h3>
                <p class="mt-1 text-sm text-gray-600">
                  Poll details that will be be shown to users.
                </p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
              <form [formGroup]="createPollForm" ngxsForm="poll.createPollForm" (submit)="createPoll()">
                <div class="shadow sm:rounded-md">
                  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                    <div class="grid grid-cols-3 gap-6">
                      <div class="col-span-3">
                        <label for="name" class="block text-sm font-medium text-gray-700"> Name </label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <input pInputText
                                 type="text"
                                 name="poll-website"
                                 id="name"
                                 placeholder="My Poll Name"
                                 formControlName="name"
                                 class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-md sm:text-sm border-gray-300">
                        </div>
                      </div>
                    </div>
                    <div class="grid grid-cols-3 gap-6">
                      <div class="col-span-3">
                        <label for="poll-website" class="block text-sm font-medium text-gray-700"> Website </label>
                        <div class="mt-1 flex rounded-md shadow-sm">
                          <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm"> https:// </span>
                          <input
                            type="text"
                            name="poll-website"
                            id="poll-website"
                            formControlName="website"
                            class="focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                            placeholder="www.example.com">
                        </div>
                      </div>
                    </div>

                    <!-- Dates -->
                    <div class="grid grid-cols-2 gap-4 mt-4">
                      <div class="">
                        <label for="startDate" class="block text-sm font-medium text-gray-700"> Start Date </label>
                        <div class="p-field p-col-12 p-md-4 rounded-md">
                          <p-calendar
                            styleClass="w-full"
                            formControlName="startDate"
                            [showIcon]="true"
                            inputId="startDate"
                            class="rounded-md"></p-calendar>
                        </div>
                      </div>
                      <div class="">
                        <label for="endDate" class="block text-sm font-medium text-gray-700"> End Date </label>
                        <div class="p-field p-col-12 p-md-4 rounded-md">
                          <p-calendar
                            styleClass="w-full"
                            formControlName="endDate"
                            [showIcon]="true"
                            inputId="endDate"
                            class="rounded-md"></p-calendar>
                        </div>
                      </div>
                    </div>

                    <!-- Times -->
                    <div class="grid grid-cols-2 gap-4 mt-4">
                      <div class="">
                        <label for="startTime" class="block text-sm font-medium text-gray-700"> Start Time </label>
                        <div class="p-field p-col-12 p-md-4 rounded-md">
                          <p-calendar
                            styleClass="w-full"
                            formControlName="startTime"
                            [showIcon]="true"
                            inputId="startTime"
                            [showTime]="true"
                            [timeOnly]="true"
                            icon="pi pi-clock"
                            class="rounded-md"></p-calendar>
                        </div>
                      </div>
                      <div class="">
                        <label for="endTime" class="block text-sm font-medium text-gray-700"> End Time </label>
                        <div class="p-field p-col-12 p-md-4 rounded-md">
                          <p-calendar
                            styleClass="w-full"
                            formControlName="endTime"
                            [showIcon]="true"
                            inputId="endTime"
                            [showTime]="true"
                            icon="pi pi-clock"
                            [timeOnly]="true"
                            class="rounded-md"></p-calendar>
                        </div>
                      </div>
                    </div>

                    <div>
                      <label for="about" class="block text-sm font-medium text-gray-700">
                        Brief Description
                      </label>
                      <div class="mt-1">
                        <textarea
                          formControlName="description"
                          id="about" name="about" rows="7" pInputTextarea
                          class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                          placeholder="Poll Description"></textarea>
                      </div>
                      <p class="mt-2 text-sm text-gray-500">
                        Brief description or instructions to display to users.
                      </p>
                    </div>
                  </div>
                  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button
                      type="submit"
                      class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="hidden sm:block" aria-hidden="true">
          <div class="py-5">
            <div class="border-t border-gray-200"></div>
          </div>
        </div>

        <div class="mt-10 sm:mt-0">
          <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
              <div class="px-4 sm:px-0">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
                <p class="mt-1 text-sm text-gray-600">Use a permanent address where you can receive mail.</p>
              </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2 pointer-events-none opacity-25">
              <form action="#" method="POST">
                <div class="shadow overflow-hidden sm:rounded-md">
                  <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-6 gap-6">
                      <div class="col-span-6 sm:col-span-3">
                        <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                        <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>

                      <div class="col-span-6 sm:col-span-3">
                        <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                        <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>

                      <div class="col-span-6 sm:col-span-4">
                        <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                        <input type="text" name="email-address" id="email-address" autocomplete="email" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>

                      <div class="col-span-6 sm:col-span-3">
                        <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                        <select id="country" name="country" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                          <option>United States</option>
                          <option>Canada</option>
                          <option>Mexico</option>
                        </select>
                      </div>

                      <div class="col-span-6">
                        <label for="street-address" class="block text-sm font-medium text-gray-700">Street address</label>
                        <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>

                      <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                        <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                        <input type="text" name="city" id="city" autocomplete="address-level2" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                        <label for="region" class="block text-sm font-medium text-gray-700">State / Province</label>
                        <input type="text" name="region" id="region" autocomplete="address-level1" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>

                      <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                        <label for="postal-code" class="block text-sm font-medium text-gray-700">ZIP / Postal code</label>
                        <input type="text" name="postal-code" id="postal-code" autocomplete="postal-code" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                      </div>
                    </div>
                  </div>
                  <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="hidden sm:block" aria-hidden="true">
          <div class="py-5">
            <div class="border-t border-gray-200"></div>
          </div>
        </div>

      <div class="bg-gray-800 p-2">
        <pre><code [highlight]="metaData"></code></pre>
      </div>

    </div>
  </div>
</div>
