
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply  text-2xl font-bold md:text-4xl;
  }

  h2 {
    @apply  text-xl font-bold md:text-3xl;
  }

  h3 {
    @apply  text-lg font-bold md:text-2xl;
  }

  h4 {
    @apply text-base font-bold md:text-lg;
  }

  body {
    @apply  text-sm md:text-base;
  }

  .layout {
    /* 750px */
    /* max-width: 43.75rem; */

    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  [type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    //border-color: #6b7280;
    @apply border-gray-300;
    border-radius: 6px;
  }

  .container{
    @apply mx-auto p-8 lg:py-8;

    a{
      :hover{
        @apply text-cyan-600;
      }
    }
  }

  html, body { height: 100%; }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

}
